.homepage-browse-links {
  font-size: $big; 
}

.homepage-card-browseby > a > img {
  height: 200px;
}
 


.feat-authors {
  & .divider {
    margin: 8px 0;
  }
  
  & .feat-author-pic {
    border: 2px solid $lightgray-dark;
    width: 120px;
    height: 120px;
    &:hover {
      border-color: $blue-light;
    }
  }
  
  & .feat-author-name {
    color: $blue-light;
    margin-bottom: 0;
  }
}

//XS Only

@media (max-width: $screen-xs-max){
  .feat-authors {
    .feat-author-pic {
      width: 60px;
      height: 60px;
    }
    
    .feat-author-name {
      text-align: center;
    }
  }
}