.fes-form-registration-form {

  //applies only to the bottom checkboxes
  .fes-fields {
    @extend .col-sm-12;
  }
  
  .user_email,
  .display_name,
  .first_name,
  .last_name,
  .user_login,
  .eddc_user_paypal,
  .password {
    
    .fes-label {
      @extend .col-sm-4;
      margin-top: 5px;
      
      @media (min-width: $screen-sm-min){
        text-align: right;
      }
    }
    
    .fes-fields {
      @extend .col-sm-4;
    }
  }
  
  .newsletter, .terms {
    width: 100%;
    margin-left: 0;
  }
  
  input.edd-submit {
    width: auto !important;
  }
  
  .fes-submit  {
    text-align: center;
  }
  
}
  
  