.advanced-search {
  padding-top: $big;
  
  & input {
    border-radius: 4px;
    margin-bottom: $big;
  }
  input[type="text"]::-webkit-input-placeholder {
   font-style: italic;
  }
  input[type="text"]:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
  }
  input[type="text"]:-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
  }
  input[type="text"]:-ms-input-placeholder {  
   font-style: italic;
  }

  #search-filters {
    & ul {
      list-style: none;
    }
  }
  
  @each $data-value in 73, 104, 40, 139, 97, 67, 141, 79, 45, 140, 49, 58, 138 {
    .selecter-item[data-value|="#{$data-value}"]{
      font-weight: $bold;
    }
  }
  
}