// Shopping Cart CSS 

#edd_checkout_cart {
  
  .edd_cart_header_row,
  .edd_cart_item {
    border-bottom: 1px solid $lightgray-dark;
  }
  
  th, td {
    padding: 8px 0;
  }
  
}

.edd-points-redeem-points-wrap form,
.edd-points-redeem-points-wrap form input {
  float: none;
}

#edd_checkout_user_info {
  margin-top: $sizeup-2;
}

.edd-points-redeem-message {
  padding: 0;
  margin-bottom: 5px;
}

#edd_purchase_submit {
  padding: $sizeup-2;
  text-align: center;
  border: 1px solid $lightgray-dark;
  background: $lightgray-light;
}

#edd_final_total_wrap {
  font-size: $bigger;
}

