// Variables
//------------------------------------------------------
$button-normal:                  $darkgray-light !default;
$button-default:                 $white !default;
$button-primary:                 $blue-light !default;
$button-success:                 $green-dark !default;
$button-danger:                  $red-dark !default;
$button-warning:                 $yellow-dark !default;
$button-info:                    $lightgreen-dark !default;

$button-normal-hover:            $darkgray-dark !default;
$button-default-hover:           $button-default !default;
$button-primary-hover:           lighten($blue-light,4);
$button-success-hover:           $green-light !default;
$button-danger-hover:            $red-light !default;
$button-warning-hover:           $yellow-light !default;
$button-info-hover:              $lightgreen-light !default;

$button-font-color-dark:         $darkgray-dark !default;
$button-font-color-light:        $white !default;

$button-opacity:                 45 !default;
$button-shadow:                  inset 0 1px 2px rgba(0, 0, 0, .125) !default;

// Exports  *some marketify helpers below!
//------------------------------------------------------

@include exports("button") {
  

  .btn {
    color: $button-font-color-light;
    border-radius: 2px;
    transition: background .3s ease;
    
    &.btn-round {
      border-radius: 100px;
    }
    
    &.btn-3d {
      box-shadow: 0 1px 2px rgba(255,255,255,.3) inset, 0 -1px 3px rgba(0,0,0,.1) inset, 0 1px 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.1);
      border-top-color: rgba(255,255,255,.3);
      border-bottom-color:  rgba(0,0,0,.1);
    }
    
    &.btn-muted {
    color: $darkgray-light;
    background: $lightgray-light;
    border: 1px solid $lightgray-dark;
    font-weight: $normal;
      &:hover,
      &:focus,
      &:active,
      &.active {
        background: #fff;
        border-color: $lightgray-dark;
        color: $darkgray-dark;
      }
    }
    
    &.btn-sm {
      font-size: $small;
      padding: 7px 10px;
    }
    
    &.btn-lg {
      font-size: $bigger;
      padding: 10px 22px;
    }
    
    &,
    &.disabled, 
    &[disabled] {
        border-color: $button-normal;
        background-color: $button-normal;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $button-font-color-light;
        border-color: $button-normal-hover;
        background-color: $button-normal-hover; 
        outline: none !important;     
    }
    &:active,
    &.active {
        @include box-shadow($value: $button-shadow);
    }
    &.disabled, 
    &[disabled] {
        @include opacity($opacity: $button-opacity, $filter: true);
    }

     &-link {
      &,
      &:hover, 
      &:focus, 
      &:active, 
      &.active,
      &.disabled,
      &[disabled] {
          border-color: transparent;
          background-color: transparent;
          color: $button-primary;
          @include box-shadow($value: none);
      }
      &:hover, 
      &:focus {
          text-decoration: underline;
      }
    }

     &-default {
        color: $button-normal;
        border-color: lighten($button-normal,10) ; 

        &:hover, 
        &:focus,
        &:active, 
        &.active {
          color: $button-font-color-dark;
          border-color: $button-font-color-dark;
          background-color: #fff;
        } 
        &,
        &.disabled,
        &[disabled] {
            background-color: $button-default;
        }
    }
     .open .dropdown-toggle.btn-default {
        border-color: $button-normal-hover;
        background-color: $button-normal-hover;      
    }

     &-primary {
      &, 
      &:active, 
      &.active,
      &.disabled,
      &[disabled] {
        border: 1px solid $blue-light;
        background-color: $blue-light;
      }
      &:hover, 
      &:focus {
          border-color: lighten($blue-light,4);
          background-color: lighten($blue-light,4);
      }
    }
     .open .dropdown-toggle.btn-primary {
        border-color: $button-primary-hover;
        background-color: $button-primary-hover;      
    }

     &-green {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled] {
          border-color: $green-light;
          background-color: $green-light;
      }
      &:hover, 
      &:focus {
          border-color:  lighten($green-light,3);
          background-color: lighten($green-light,3);           
      }
    }
     .open .dropdown-toggle.btn-info {
        border-color: $button-info-hover;
        background-color: $button-info-hover;      
    }

     &-success {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled] {
          border-color: $button-success;
          background-color: $button-success;    
      }
      &:hover, 
      &:focus {
          border-color: $button-success-hover;
          background-color: $button-success-hover;           
      }
    }
     .open .dropdown-toggle.btn-success {
        border-color: $button-success-hover;
        background-color: $button-success-hover;      
    }

     &-warning {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled] {
          border-color: $button-warning;
          background-color: $button-warning;    
      }
      &:hover, 
      &:focus {
          border-color: $button-warning-hover;
          background-color: $button-warning-hover;          
      }
    }
     .open .dropdown-toggle.btn-warning {
        border-color: $button-warning-hover;
        background-color: $button-warning-hover;      
    }

     &-danger {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled],
      .open .dropdown-toggle.btn {
          border-color: $button-danger;
          background-color: $button-danger;    
      }
      &:hover, 
      &:focus {
          border-color: $button-danger-hover;
          background-color: $button-danger-hover;           
      }
    }
     .open .dropdown-toggle.btn-danger {
        border-color: $button-danger-hover;
        background-color: $button-danger-hover;      
    }
    
  }
  
    // just some marketify helpers
  .wpcf7-submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-3d;
    @extend .btn-block;
    }
}


