.carousel {
  padding: $smaller;
  background: #fff;
  border: 1px solid $lightgray-dark;
  
  & .carousel-inner {
    overflow: hidden;
  }
  & .carousel-inner .item {
    height: 360px;
    text-align: center;
  }
  & .carousel-inner .item img {
    height: 100%;
    margin: auto;
    max-width: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
  }
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

