// Variables
//------------------------------------------------------
$img-src:                "../bootflat/img/check_flat/default.png" !default;

// Exports
//------------------------------------------------------

@include exports("checkbox-radio") {

  .checkbox, .radio {
    margin-top: 0;
    display: block;
    margin-left: $big;
  }
  
  .checkbox-list-container {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid $mediumgray-light;
    padding: $half-gutter;
    border-radius: 4px;
    max-height: 220px;
    
    .checkbox, .radio {
      margin-left: $bigger;
      width: 20% /* effectively 25% when margins factor in */
    }
  }
  
  
  .checkbox-list {
    & :last-child {
      margin-bottom: 2px;
    }
  }
  

  .checkbox label, .radio label {
    position: relative;
    top: 1px;
    padding-left: 0;
    max-width: 84%; /* in case line-break is needed*/
    vertical-align: top;
  }
  .icheckbox_flat,
  .iradio_flat {
      display: inline-block;
      *display: inline;
      vertical-align: middle;
      margin: 0;
      padding: 0 !important;
      width: 20px;
      height: 20px;
      background: url($img-src) no-repeat;
      border: none;
      cursor: pointer;
  }

  .icheckbox_flat {
      background-position: 0 0;

      &.checked {
          background-position: -22px 0;
      }
      &.disabled {
          background-position: -44px 0;
          cursor: default;
      }
      &.checked.disabled {
          background-position: -66px 0;
      }
  }

  .iradio_flat {
      background-position: -88px 0;

      &.checked {
          background-position: -110px 0;
      }
      &.disabled {
          background-position: -132px 0;
          cursor: default;
      }
      &.checked.disabled {
          background-position: -154px 0;
      }
  }

}
