.comment-section{
  @extend .card-white;
}

.comment-card-left {
}

.comment-card-right{
}
  
.comment+.comment {
  margin-top: -1px;
}

.comment-list {
  list-style: none;
  margin-bottom: -1px;
  
  & > li {
      padding-bottom: $bigger !important;
    }
  
  & .comment{
    
    & .comment-top {
      display: block;
      margin-bottom: $smaller;
    }

    & .comment-info {
      display: inline-block;
    }
    
    & .comment-meta {
      width: 120px;
    }
    
    & .comment-content {
    }
    
    & .comment-author-avatar {
      width: 40px;
      height: 40px;
    }
    
    & .comment-author img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $lightgray-dark;
    }
    & .comment-author-name {
      font-style: normal;
      font-size: $small;
      font-weight: $bold;
      line-height: 1;
      
    }

    & .comment-date,
    & .comment-reply-link,
    & .comment-edit-link{
      font-size: $small;
      color: $mediumgray-dark;
      margin-right: $smaller;
    }
    
    
    & a.comment-report {
      color: transparent;
    }
    
    &:hover a.comment-report {
      color: $mediumgray-light;
    }
  }
}

.edd-review-vote {
    display: none !important;
}