dl.info-list {
    color: $darkgray-light;
    margin-bottom: $base;
    font-size: $small;
    text-transform: uppercase;
  
  dd {
    line-height: $line-height-small;
    margin-bottom: $smaller;
  }
}

dl.info-list-alt {
    color: $mediumgray-dark;
    margin-bottom: $base;
    font-size: $small;
	
	& dd {
		margin-bottom: 5px;
	}
}

// for the collapsible curriculum expectations

div.info-list-item.collapse,
div.info-list-item.collapsing {
  padding-left: $big;
  
  & p {
    margin-bottom: $smaller;
    line-height: 1.2;
  }
}