// Variables
//------------------------------------------------------
$navbar-background-color:                    $green-light;
$navbar-background-color-active:             transparent;
$navbar-brand-background:                    transparent;

$navbar-link-color:                          #fff;
$navbar-font-weight:                          $bold;

$navbar-font-color:                          #fff;
$navbar-item-background-color-hover:         $navbar-background-color-active !default;

$navbar-inverse-background-color:            $black !default;

$navbar-height:                              66px;

// Exports
//------------------------------------------------------

@include exports("navbar") {

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: $navbar-height;
    
    .navbar-nav ul.dropdown-menu ul.menu {
      padding: 0;
    }
  }
  
  // on XS and SM, leave room at the top for the fixed navbar
  @media (max-width: $screen-sm-max){
    #wrap {
      margin-top: $navbar-height;
    }
  }
  
  .navbar-logo {
    height: $navbar-height/3;
  }
  
  .navbar {
    & {
      background-color: $navbar-background-color;
      @include linear-gradient ((lighten($navbar-background-color,3%)),$navbar-background-color);
      border-bottom: 3px solid darken($navbar-background-color,3%);
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }
    & .navbar-brand,
    & .navbar-link,
    & .btn-link {
      height: $navbar-height;
      color: $navbar-link-color;
      display: inline-block;
    }

    & .navbar-brand {
      height: $navbar-height;
      background: $navbar-brand-background;
      font-family: $font-alt;
      color: #fff;
      padding: (($navbar-height/3) - 2) $biggest 0;
      margin-right: $big;
    }
    
    & .navbar-brand:hover,
    & .navbar-brand:focus,
    & .navbar-link:hover {
      color: #fff;
    }
    
    & .navbar-form {
        margin: 16px $gutter 0;
      & > .form-group {
        vertical-align: top;
      }
      & > .form-group > input,
      & .btn {
        border-color: $green-dark;
      }
    }

    & .btn-link:hover,
    & .btn-link:focus {
        color: $navbar-font-color;
    }
    
    & .navbar-text,
    & .nav-link {
      height: $navbar-height;
      font-weight: $navbar-font-weight;
      color: $navbar-link-color;
      padding-top: $navbar-height/3;
    }
    
    & .navbar-nav > li {
      margin-bottom: 0;
    }
    
    & .navbar-nav > li > a:hover,
    & .navbar-nav > li > a:focus {
        color: #fff;
    }

    & .navbar-nav > li > a:hover{
      background-color: $navbar-background-color-active;
      text-decoration: underline;
    }

    & .navbar-nav > .active > a,
    & .navbar-nav > .active > a:hover,
    & .navbar-nav > .active > a:focus {
        color: $navbar-font-color;
        background-color: $navbar-background-color-active;
        text-decoration: underline;
    }
    & .btn-link[disabled]:hover,
    fieldset[disabled] & .btn-link:hover,
    & .btn-link[disabled]:focus,
    fieldset[disabled] & .btn-link:focus,
    & .navbar-nav > .disabled > a,
    & .navbar-nav > .disabled > a:hover,
    & .navbar-nav > .disabled > a:focus {
        color: darken($navbar-background-color, 8%);
        background-color: transparent;
    }
    & .navbar-toggle {
        border: 0;
        border-radius: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        width: $navbar-height;
        height: $navbar-height;
    }
    & .navbar-toggle .icon-bar {
        background-color: darken($navbar-background-color, 15%); 
        margin-left: auto;
        margin-right: auto;
    }
    
    & .navbar-toggle:hover .icon-bar,
    & .navbar-toggle:focus .icon-bar{
      background-color: darken($navbar-background-color, 30%); 
    }
    
    & .navbar-collapse,
    & .navbar-form {
        border-color: $green-dark;
    }
    
    & .navbar-form {
      & input {
      border-color: $lightgray-dark;
      }
      & input, & .btn {
        height: $navbar-height/2;
      }
    }
    
    & .navbar-nav > .open > a,
    & .navbar-nav > .open > a:hover,
    & .navbar-nav > .open > a:focus {
        color: $navbar-font-color;
        background-color: $navbar-background-color-active;
    }
    
    &  .user-dropdown {
      padding: 0 !important;
      height: $navbar-height;
      display: inline-flex;
      align-content: center;
      color: #fff;
    }
    
    .navbar-profile-pic {
      height: $navbar-height;
      width: $navbar-height;
      padding: 16px;
      display: inline-block;
      
      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
      }
    }
  }

  .user-dropdown-username {
    padding: $navbar-height/3 $navbar-height/3 $navbar-height/3 0;
    
    & .caret {
      margin-left: $smaller;
    }
  }
  
  .navbar-divider {
    display: block;
    border-bottom: 1px solid $navbar-background-color;
    margin: 5px 0;
  }
  
}
    
    


// XS and SM

@media (max-width: $screen-sm-max) {
  .navbar{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    text-align: center;
    
    & .navbar-brand {
      padding-left: $gutter;
      padding-right: $gutter;
    }

    & .navbar-form {
      width: 66%;
      margin: 16px auto 0;
    }
    
    & .nav-link {
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: $big;
      font-weight: $normal;
    }
    
    & .user-dropdown-username {
      font-size: $big;
    }
    
    & .navbar-nav.navbar-right {
      margin-bottom: $base;
    }
    
    & .navbar-collapse {
      background: $green-dark;
      border-top: 0px;
    }
    
    & .navbar-nav {
      margin: 0;
    }
    
    .dropdown-menu {
      text-align: center;
      li {
        background-color: $green-dark;
        margin-bottom: 0;
      }
    }
        

    & .navbar-nav > li > a:hover,
    & .navbar-nav > li > a:focus {
        background-color: $navbar-background-color-active;
    }
    & .navbar-nav .open .dropdown-menu > .divider {
        background-color: $navbar-item-background-color-hover;
    }
    & .navbar-nav .open .dropdown-menu > li > a {
      color: $navbar-link-color;
      paddding-top: 0;
      padding-bottom: 0;
    }
    & .navbar-nav .open .dropdown-menu > li > a:hover,
    & .navbar-nav .open .dropdown-menu > li > a:focus,
    & .navbar-nav .open .dropdown-menu > .active > a,
    & .navbar-nav .open .dropdown-menu > .active > a:hover,
    & .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: $navbar-font-color;
        background-color: $navbar-item-background-color-hover;
    }
    & .navbar-nav .open .dropdown-menu > .dropdown-header {
      color: $navbar-link-color;
    }
    & .navbar-nav .open .dropdown-menu > .disabled > a,
    & .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    & .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: darken($navbar-background-color, 10%);
    }
  }
}

// SM ONLY

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navbar {
    .navbar-collapse {
      width: 350px;
      position: absolute;
      right: 15px;
    }
  }
}


